@model IEnumerable<AutoDiceRoller.Models.OcrResult>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ConfidenceLvl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FaceValue)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ConfidenceLvl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FaceValue)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RollId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RollId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RollId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
